language: node_js
notifications:
  email: false
node_js:
  - "10"
  - "8"
script:
  - npm run test
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
